@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;

}

body{
	height: 100vh;
	width: 100%;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 600px;
}
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(rgb(90, 59, 163) ,rgb(38, 158, 194));
	background-size: cover;
	filter: (100px);
	z-index: -1;
}

.parent{
	top: 0px;
	font-size: 90px;
	font-weight: 100;
	display: flex;
	justify-content: center;
	position: relative;
	padding: 0 0 50px;
	margin-bottom: 10rem 10rem;
}

.child-one{
	text-align: center;
	bottom: 35px;
	font-size: 30px;
	font-weight: 250px;
	justify-content: center;
	position: relative;
	left: 0;
	right: 0;
	padding: 0 1 30px;
	width: 800px;
	color: rgba(255, 255, 255, 0.801);
}

.field{
    width: 100%;
    padding: 18px;
    border:15px rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    border-radius: 2px;
	margin: 7px 0px 25px;
    outline: none;
    color: rgb(0, 0, 0);
	font-size: 100%;
	
}

.field:hover{
	background-color: rgba(255, 255, 255, 0.822);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 20px ;
    border: black;
	background-color: #166ad6;
	color: rgba(253, 253, 253, 0.856);
	font-size: 20px;
	margin: 15px 0px;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #18ce64;
	font-size: 25px;
}

.field:focus{
	border-radius: 2px;
    background-color: rgb(255, 255, 255);
}